/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul > * {
  list-style-type: none;
}

/* UTILS */

.debug,
.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: rgb(250, 108, 108);
  border: 2px dashed red;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0px;
}

/* BUTTON */

.button {
  width: fit-content;
  border: none;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  border-radius: 9999999px;
}

.primary {
  background-color: white;
  color: black;
}

.secondary {
  background-color: black;
  color: white;
}

.big {
  /* width: 200px; */
  font-size: 2rem;
  padding: 20px 40px;
}

.button.cta {
  background-color: #7289da;
  color: white;
  margin: 30px auto;
}

/* HEADER */

header {
  background-color: #255ee9;
  color: white;
}

.top-header {
  padding: 10px;
}

.top-header > .container {
  display: flex;
  align-items: center;
}

header .container {
  /* background-color: #daa51e; */
  padding: 5px;
}

/* .top-header div {
  
  min-height: 2px;
} */

.container .link {
  flex-grow: 1;
  text-align: center;
}

.link > ul > * {
  list-style-type: none;
  display: inline-block;
}

.bottom-header {
  padding: 40px 0;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

.bottom-header p {
  margin-top: 30px;
  margin-bottom: 15px;
}

.container.container-small {
  max-width: 900px;
  height: 400px;
  /* background-color: #ef82ed; */
  text-align: center;
  align-content: center;
  font-size: 2rem;
}

/* MAIN */

.main-section {
  padding: 40px;
}

.main-section > .container {
  display: flex;
}

.element-left {
  width: 60%;
  height: 400px;
}

.element-right {
  width: 40%;
  text-align: start;
  /* background-color: #ffc0ca; */
}

section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.element-right > p {
  align-items: end;
}

.container.reverse {
  flex-direction: row-reverse;
}

.container.container-big {
  /* height: 700px; */
  /* background-color: #218b21; */
  display: block;
  text-align: center;
}

section:nth-of-type(even) {
  background-color: #d3d3d3;
}

/* FOOTER */

footer {
  background-color: #23272a;
  color: white;
}

.top-footer h4 {
  font-size: 1.5rem;
  color: #7289da;
}

.element-footer-left div {
  padding: 10px 0;
}

.element-footer-left img {
  width: 30px;
  vertical-align: middle;
  margin-right: 5px;
}

.element-footer-left span {
  vertical-align: middle;
}

.element-footer-left i {
  font-size: 1.5rem;
  padding-right: 10px;
}

/* .top-footer {
  padding-top: 10px;
  padding-bottom: 40px;
  border-bottom: 2px solid white;
} */

.container.margin {
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}

.top-footer .container {
  display: flex;
  gap: 20px;
}

.element-footer-left {
  width: 30%;

  /* background-color: #f08180; */
}

.element-footer-right {
  padding: 0;
  display: flex;
  flex-grow: 1;
}

.element-footer-right ul > * {
  margin-top: 20px;
}

.element-footer-right div {
  flex-grow: 1;
}

.bottom-footer .container {
  justify-content: space-between;
  display: flex;
}

.logo-footer,
.button-footer {
  align-content: center;
  padding: 5px;
}
